* {
    padding: 0;
    margin: 0;
}

body, html {
    font-family: "MicrosoftYaHei,Helvetica Neue,Helvetica,Arial,sans-serif";
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}